.header{
  width: 100%;
  border-bottom: 1px solid #353535;
  position: relative;
  .infoHeader{
    padding: 0.9rem;
    display: flex;
    align-items: center;
    & figure{
      height: 18px;
      flex: 1;
      img{
        height: 18px;
      }
    }
    & aside{
      display: flex;
      align-items: center;
      gap:8px;
      & span{
        font-weight: 200;
        font-size: 0.9rem;
      }
      & img{
        height: 24px;
      }
      & button{
        background: none;
        border: none;
        cursor: pointer;
        height: 16px;
        & img{
          height: 16px;
        }
      }
    }
  }
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4rem;
}
nav a{
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
  color: #353535;
  gap:10px;
  cursor: pointer;
  position: relative;
  & img{
    height: 28px;
  }
}

.header nav a.active{
  color:#fff !important;
  border-bottom: 1px solid #216921 ;
  transition: all 0.3s ease-in-out;
}
.header nav a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #216921;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.header nav a.active:hover::after {
  width: 100%;
  left: 0;
}
app-profile {
  position: absolute;
  z-index: 200;
  top: 0;
  right: -400px; /* Oculto fuera de la pantalla */
  width: 320px; /* Ajusta según el tamaño de tu componente */
  height: 600px;
  max-height: 100dvh;
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,0.8);
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: all 0.4s ease-in-out;
}

app-profile.show {
  right: 0; /* Se desplaza a la vista */
  transition: all 0.4s ease-in-out;
}