<header class="header">
  <div class="infoHeader">
    <figure>
      <img src="img/logoMIBHome.svg" alt="">
    </figure>
    <aside>
      <span>Agente {{ agentName }}</span>
      <img src="icons/iconAgent.svg" alt="">
      <button (click)="toggleProfile()">
        <img src="icons/menu.svg" alt="">
      </button>
    </aside>
  </div>
  <nav>
    <a routerLink="/home/fugitivos" routerLinkActive="active">
      <img src="icons/iconAliens.svg" alt="">
      <p>Fugitivos</p>
    </a>
    <a routerLink="/home/agentes" routerLinkActive="active">
      <img src="icons/iconAgents.svg" alt="">
      <p>Agentes</p>
    </a>
    <a routerLink="/home/historia" routerLinkActive="active">
      <img src="icons/iconHistory.svg" alt="">
      <p>Historia MIB</p>
    </a>
    <a routerLink="/home/foro" routerLinkActive="active">
      <img src="icons/iconForo.svg" alt="">
      <p>Foro</p>
    </a>
  </nav>
  <app-profile [class.show]="showProfile" (closeProfile)="toggleProfile()"></app-profile>
</header>
