<section class="intro">
  <div class="introText">
    <p>Tendrás habilidades que no has tenido nunca, acceso a tecnología que el resto del mundo ni siquiera puede soñar. Desde este momento, no eres parte del sistema. Estás por encima del sistema. Más allá de él. No habrá identificación alguna, ni licencia, ni registro de nacimiento. No existe nada.
      Eres una sombra, <b>{{ fullName }}</b>. Una sombra que no pertenece a ninguna parte. Nosotros somos “ellos”.</p>
    <p>Nosotros somos “Los Hombres de Negro”.</p>
  </div>
  <div class="introWelcome">
    <h2>¡BIENVENIDO!</h2>
    <p>AGENTE ESPECIAL</p>
    <figure>
      <img src="icons/letterShip.svg" alt="">
      <h2>{{name}}</h2>
    </figure>
    <button (click)="goHome()">
      Saltar &rarr;
    </button>
  </div>
</section>
